@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

* {
    background-color: blue;
    font-family: 'Roboto Mono', monospace;

}

  .typing-container {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    color: whitesmoke;
    font-size: 2rem;
  }
  
  .typing-text {
    color: white;
  }
  
  .typing-text::after {
    content: "|";
    animation: blink 1s step-end infinite;
  }
  
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
  
    50% {
      opacity: 0;
    }
  }

.section1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home-div-title{
  color: white;
  font-size: 30px;
}